<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814911462891-ou7h28dddjdv4ddmp0c95cn1bok0a3rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814911462891-ou7h28dddjdv4ddmp0c95cn1bok0a3rt</string>
	<key>API_KEY</key>
	<string>AIzaSyB9GQ_NnHJdnnmO0Lk4cT92JG0tHjf3HMg</string>
	<key>GCM_SENDER_ID</key>
	<string>814911462891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-d6e72</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-d6e72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814911462891:ios:30d852f1c5c3b367d4cdae</string>
</dict>
</plist>